@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: cornflowerblue;
}

html,
body {
  padding: 0;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body > #__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
